@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~angular-material/angular-material.css";

:local(.rootView) {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
